header {
	margin-bottom: 20px;
	margin-top: 15px;
	h1 {
		font-family: 'Amatic SC', cursive;
		font-size: 3.2rem;
		line-height: 1em;

		span {
			color: $secondary-color;
		}
	}
		h2 {
			display: none;
		}
	@media (min-width: 35rem) {
		h2 {
			display: inline-block;
			font-family: 'Amatic SC', cursive;
			font-size: 1.8rem;
			line-height: 3.2rem;
			margin: 0 auto;
			-webkit-transform: rotate(-10deg);
		}
	}

}

header + hr {
	margin: 0 10px;

}

main {
	color: $text-color;

	.col-4, .col-8 {
		padding-left: 10px;
	}
	.fa {
		width: 40px;
		text-align: center;
		font-size: 2rem;
	}

	.basic-info {
		border-bottom: 2px dashed $main-color;
		margin-right: 10px;
		line-height: 2.4rem;
		.fa {
			float: left;
		}
	}

	span {
		font-family: 'Amatic SC', cursive;
		font-size: 1.8rem;
		font-weight: 700;
		margin-left: 15px;
		display: block;
		overflow: hidden;
	}

	a {
		@include link;
	}

}

.skills {

	margin-top: 20px;

	.more-info {
		width: 100%;
	}
	.skill-header {
		line-height: 2rem;
		overflow: hidden;
	}

	h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 2rem;
	float: left;
	margin-left: 10px;
	}

	.fa {
		color: $secondary-color;
		float: left;
	}

	ul {
		width: 80%;
		margin: 10px auto;
		padding-left: 10px;
		border-left: 2px dotted $main-color;
		list-style-type: none;
		font-family: 'Nunito', sans-serif;
		ul {
			margin: 2px;
		}
	}
}



footer {
	color: $text-color;
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: 'Nunito', sans-serif;

	h2 {
		color: black;
		font-family: 'Amatic SC', cursive;
		margin-left: 5px;
		font-size: 2rem;
	}
	.fa {
		float: left;
		font-size: 2rem;
		margin-top: 5px;
	}
		ul {
			margin: 10px;
			list-style-type: none;
			border-left: 2px dotted $main-color;
			 li {
				margin: 5px;
			}
		}
}
