.col-8 {
	border: 1px dashed $border-color;
}
header {
	height: 20vh;
	border: 1px solid indianred;
}
main {
	height: 60vh;
	border: 1px solid indianred;
}
footer {
	height: 20vh;
	border: 1px solid indianred;
}

header h1 {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
}
