header {

	h1 {
		font-family: 'Amatic SC', cursive;
		margin: 0 auto;
		text-align: center;
		font-size: 3.2rem;

		span {
			color: $font-color2;
		}
	}

}

main {
	color: rgba(0,0,0, 0.5);

	.col-4, .col-8 {
		padding-left: 10px;
	}
	.fa {
		width: 40px;
		text-align: center;
		font-size: 2rem;
	}

	.basic-info {
		border-bottom: 2px dashed $border-color;
		margin-right: 10px;
		.fa {
			float: left;
		}
	}

	span {
		font-family: 'Amatic SC', cursive;
		font-size: 1.8rem;
		font-weight: 700;
		margin-left: 15px;
		display: block;
		overflow: hidden;
	}

	a {
		@include link;
	}

}

.skills {

}

.skills h2 {

}

.skills .fa {
	color: indianred;

	display: block;
}

footer {
	height: 20vh;
	border: 1px solid indianred;
}

p {
	font-family: 'Open Sans', sans-serif;
}
