$cols: 12;
$cols-print: 12;

$width-base: (100%/$cols);
$width-base-print: (100%/$cols-print);

%clearfix {
	&:before, &:after {
		display: table;
		content: '';
		clear: both;
	}
}

.container {
	width: 100%;
	max-width: 80rem;
}

.row {
	@extend %clearfix;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	width: 100%;
	//gutter
}

@media screen and (min-width: 35rem) {
	@for $i from 1 through $cols {
		.col-#{$i} {
			width: $width-base*$i;
		}
	}
}

@media print and (min-width: 200px) {
	@for $i from 1 through $cols-print {
		.col-pr-#{$i} {
			width: $width-base-print*$i;
		}
	}
}
