.footer {
	padding-top: 10px;
	padding-bottom: 15px;
	.logo {
		font-size: 1.8rem;
	}
}

.list {
	color: $text-color;
	font-family: 'Nunito', sans-serif;
	list-style-type: none;
	border-left: 2px dotted $main-color;
	 .list__item {
		margin: 5px;
	}
}

.agreement {
	padding-top: 10px;
	display: none;
}

@media print {
	.agreement {
		display: block;
		color: $text-color;
	}
}
