.footer {
	color: $text-color;
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: 'Nunito', sans-serif;




	.list {
		margin: 10px;
		list-style-type: none;
		border-left: 2px dotted $main-color;
		 .list__item {
			margin: 5px;
		}
	}
}
