.footer {
	padding-top: 10px;
	padding-bottom: 15px;
	.logo {
		font-size: 1.6rem;
		margin-bottom: 5px;
	}
}
.experience {
	width: 80%;
	margin: 5px auto;
	@media screen and (min-width: 53rem) {
		width: 95%;
	}
	@media print and (min-width: 200px) {
		width: 95%;
	}
}

.list {
	color: $text-color;
	font-family: 'Nunito', sans-serif;
	list-style-type: none;
	border-left: 2px dotted $main-color;
	padding-left: 10px;
	margin: 0 auto;
	margin-left: 25px;
	.list {
		margin-left: 0;
	}
	@media screen and (min-width: 53rem) {
		margin-left: 15px;
	}
	@media print and (min-width: 200px) {
		margin-left: 15px;
	}
	.list__item {
		margin: 2px auto;
		color: $text-color-darker;

		.list__item {
			color: $text-color;
		}
	}
}

.agreement {
	padding-top: 10px;
	display: none;
}

@media print and (min-width: 200px) {
	.agreement {
		display: block;
		position: relative;
		color: $text-color;
		font-size: .8rem;
		bottom: 0;
	}
}
