.header {
	padding-top: 10px;
}

.logo {
	font-family: 'Amatic SC', cursive;
	font-size: 2rem;
	line-height: 1;
	width: 80%;
	margin: 0 auto;
	@media screen and (min-width: 35rem) {
		width: 95%;
	}
	@media print and (min-width: 200px) {
		width: 95%;
	}
}

.logo__element {
	color: $secondary-color;
}
