.main {
	padding-top: 10px;
}

.contact-info {
	border-bottom: 2px dashed $main-color;
	width: 90%;
	margin: 0 auto;
}

.contact-info__icon {
	color: $text-color;
	float: left;
	width: 30px;
	text-align: center;
	font-size: 1.6rem;
	line-height: 2rem;
	margin: 0 10px;
	@media screen and (min-width: 35rem) {
		margin: 0;
		margin-right: 5px;
	}
}

.contact-info__text {
	color: $text-color;
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	display: block;
	line-height: 2rem;
}

.contact-info__link {
	@include link;
}

.infos {
	padding-top: 10px;
}

.info-box__header {
	padding: 2px;
	line-height: 2rem;
	overflow: hidden;
}

.info-box__link {
	text-decoration: none;
	@include link;
}

.info-box__text {
	font-family: 'Amatic SC', cursive;
	font-size: 1.6rem;
	line-height: 1.6rem;
	float: left;
	margin-left: 10px;
}

.info-box__icon {
	color: $secondary-color;
	float: left;
	width: 30px;
	font-size: 1.6rem;
	line-height: 1.6rem;
	text-align: center;

}

.info-box__list {
	color: $text-color;
	width: 80%;
	padding-left: 10px;
	border-left: 2px dotted $main-color;
	list-style-type: none;
	font-family: 'Nunito', sans-serif;
}
